<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рецепты без продуктов</title>
</head>
<body>
  <h1>Рецепты без продукта - {{ product }}</h1>
  <h2>Список рецептов:</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
        <tr>
          <td>{{ recipe.id }}</td>
          <td>{{ recipe.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>